@{
	Layout = "_Layout";
}
<h1 class="main-title">My Contacts</h1>
<div class="contacts">
    <p>
        <strong>Email:</strong> <a href="mailto:fran4er@gmail.com">fran4er@gmail.com</a><br>
        <strong>GitHub:</strong> <a href="https://github.com/opermaster" target="_blank">https://github.com/opermaster</a><br>
        <strong>Phone:</strong> <a href="tel:+380931038250">+380931038250</a>
    </p>
</div>
