@{
	Layout = "_Layout";
}

<h1 class="main-title">About Me</h1>
<div class="about-me">
    <p>
        <strong>Age:</strong> 19 years old<br>
        <strong>Education:</strong> Student at Dnipropetrovs'kij Nacional'nij Universitet<br>
        <strong>Objective:</strong> Looking for my first job to enhance my programming skills.<br>
    </p>
    <p>
        I have worked on various projects that sparked my interest, and this portfolio site is one of them.
    </p>
</div>
